---
layout: default
summary: "Igor Pavlov - Team-leader from Worki"
tags: [developer, software developer, social quantum, worki, svi, silicon valley, binomo, team-lead]

---

<h1>Job history:</h1>
<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <div><h5>Dates: {{post.dates}}</h5></div>
      <div><h5>Employer: {{ post.employer }}</h5></div>
      <div><h5>Position: {{post.position}}</h5></div>
      <div><h5>Activities: {{post.activities}}</h5></div>
      <div><h5>Responsibilites:</h5>
        <ul>
        {% for resp in post.responsibilites %}
          <li>{{ resp }}</li>
        {% endfor %}
        </ul>
      </div>
    </article>
  {% endfor %}
</div>