
//
// VARIABLES
//

// Colors
$blue: #2155d6;

// Grays
$black: #000;
$darkerGray: #1d2433;
$darkGray: #2a3142;
$gray: #5f687b;
$lightGray: #e6e8ef;
$white: #fff;

// Font stacks
$helvetica: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$helveticaNeue: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
